include ../components/mixins/button

section.footer
    .container
        .row
            .col-md-12
                .footer__feedback
                    div(style='padding: 0 20px; background: #fff;')
                        +button('Обратная связь', 'default', '/feedback.html')
        .row
            .col-md-6
                .footer__item
                    p Узнай результаты и подпишись на новости
                    .socials
                        a(href='#').socials__item.socials__item--vk
                        a(href='#').socials__item.socials__item--tw
                        a(href='#').socials__item.socials__item--fb
                        a(href='#').socials__item.socials__item--ig
                        a(href='#').socials__item.socials__item--tm
            .col-md-6
                .footer__item
                    p © 2017, Активный Гражданин. Все права защищены.
                        a(href='#') Публичная оферта
                        |  Политика в отношении обработки персональных данных.