.container
    .row
        .col-md-12
            .nav
                .nav__items
                    .nav__item
                        a(href='/news.html').nav__link Личный кабинет
                    .nav__item
                        a(href='/introduction.html').nav__link Вступительное слово
                .nav__items.nav__items--logo
                    .nav__item.nav__item--logo
                        a.link-img(href='/')
                            img(src='/img/logo.png')
                .nav__items
                    .nav__item
                        a(href='/catalog.html').nav__link Магазин поощрений
                    .nav__item
                        a(href='/news.html').nav__link Новости