doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block page_title
            title Голосуй
        block meta_social
            meta(name="title" content="Голос Петроградки")
            meta(name="description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ \"КОРОБКА\" ДЛЯ НЕКОТОРЫХ?")

            meta(property="og:site_name" content="Голос Петроградки")
            meta(property="og:title" content="Голос Петроградки")
            meta(property="og:description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ \"КОРОБКА\" ДЛЯ НЕКОТОРЫХ?")
            meta(property="og:image" content="http://www.petrogradnews.ru/icon/news_img2/705x470/55171_1494841231.jpg")
            meta(property="og:type" content="website")
            meta(property="og:url" content="http://138.68.95.227/vote.html")
            meta(property="og:locale" content="ru_RU")

            meta(name="twitter:card" content="summary")
            meta(name="twitter:site" content="@GolosPetrograd")
            meta(name="twitter:image:src" content="http://www.petrogradnews.ru/icon/news_img2/705x470/55171_1494841231.jpg")
            meta(name="twitter:title" content="Голос Петроградки")
            meta(name="twitter:description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ \"КОРОБКА\" ДЛЯ НЕКОТОРЫХ?")

        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.3.2/ol.css")
        link(rel="stylesheet" href="css/index.css")

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.3.2/ol.js')

    body.map-full

        .container-fluid
            block content

        script(src='/js/main.js')
        script(src='/js/map.js')