.container
    .row
        .col-md-8.col-md-offset-2
            .offer
                .offer__title прими участие<br> в жизни своего района
                .offer__subtitle На данной площадке мы будем размещать вопросы и предложения администрации Петроградского района для сбора общественного мнения