.comment {

}

.comment + .comment {
  margin-top: 2.5em;
}

  .comment__header {
    margin-bottom: 1.25em;
    font-size: 20px;
  }

  .comment__body {
    margin-bottom: 1.5625em;
  }

  .comment__footer {

  }