extends ./base

block modal-title
    | Авторизация

block modal-body
    p.modal-alert Указан некорректный номер телефона или пароль

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Закрыть