.modal.modal-primary.fade(role="dialog", id='dd')
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h4.modal-title
                    block modal-title
                        | Заголовок
                h5.modal-subtitle
                    block modal-subtitle
            .modal-body
                block modal-body
                    p лалалдалалалалалалал
            .modal-footer
                block modal-footer
                    button.btn.btn-default(type="button") Close
                    button.btn.btn-primary(type="button") Ok