extends ./base

block modal-title
    | изменение данных

block modal-subtitle
    | На ваш телефон отправлен код подтверждения с помощью которого можно изменить пароль

block modal-body
    form
        .form-group
            label.label Телефон
            input.form-control(type="tel")
        .form-group
            label.label Код
            input.form-control(type="number")
        .form-group
            label.label Пароль
            input.form-control(type="password")
        .form-group
            label.label Подтверждение пароля
            input.form-control(type="password")

block modal-footer
    p
        .btn-group
            button.btn.btn-modal сохранить