extends ./base

block modal-title
    | Вход в Личный кабинет

block modal-subtitle
    | Введите номер Вашего мобильного телефона и пароль
    | указанные при регистрации на портале

block modal-body
    form
        .form-group
            label.label Телефон
            input.form-control(type="tel")
        .form-group
            label.label Пароль
            input.form-control(type="text")
        .form-group
            input.form-control(type="checkbox", name="check1", id="check1")
            label.label(for="check1") Запомнить меня на этом устройстве

block modal-footer
    p
        .btn-group
            button.btn.btn-primary.btn-sm войти

    p
        a(href="#") Забыли пароль?
    p
        |  Пройдите
        a(href="#") регистрацию,
        |  если вы ещё не зарегистрированы