extends ./base

block modal-title
    | восстановление пароля

block modal-subtitle
    | Введите номер Вашего мобильного телефона
    | указанный при регистрации на портале

block modal-body
    form
        .form-group
            input.form-control(type="tel" placeholder='Телефон')

block modal-footer
    p
        .btn-group
            button.btn.btn-primary Получить код
    p
        a(href="#") Уже есть код?