extends ./base

block modal-title
    | восстановление пароля

block modal-subtitle
    | На телефон
    b +7 (952) 347 64 73
    | отправлен код подтверждения с помощью которого можно
    | восстановить пароль

block modal-body
    form
        .form-group
            label.label Код
            input.form-control(type="number")
        .form-group
            label.label Пароль
            input.form-control(type="password")
        .form-group
            label.label Подтверждение пароля
            input.form-control(type="password")

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Изменить