extends ./base

block modal-title
    | восстановление пароля

block modal-body
    p.modal-alert Пароль успешно восстановлен

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Закрыть