extends ./base

block modal-title
    | Регистрация

block modal-subtitle
    | Придумайте пароль для вашей учетной записи

block modal-body
    form
        .form-group
            label.label Пароль
            input.form-control(type="password")
        .form-group
            label.label Подтверждение пароля
            input.form-control(type="password")

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Продолжить