extends ./base

block modal-title
    | Регистрация

block modal-subtitle
    | Введите код для продолжения регистрации

block modal-body
    form
        .form-group
            label.label Код
            input.form-control(type="number")

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Продолжить