extends ./base

block modal-title
    | Регистрация

block modal-body
    p.modal-alert Указаный номер телефона уже зарегистрирован

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Закрыть