extends ./base

block modal-title
    | Регистрация

block modal-subtitle
    | Для регистрации на портале “Голос Петроградки” необходимо указать ваш номер мобильного телефона

block modal-body
    form
        .form-group
            label.label Телефон
            input.form-control(type="tel")
        .form-group.checkbox-arrow
            input.form-control(type="checkbox" id="tos" name="tos")
            label.label(for="tos")
                | Я согласен с условиями
                |
                a(href="#") пользовательского соглашения

block modal-footer
    p
        .btn-group
            button.btn.btn-modal Далее