extends ./base

block modal-title
    | Внимание

block modal-body
    p.modal-alert
        | Вы не можете проголосовать пока не пройдете
        a(href="") регистрация
        | на портале


block modal-footer
    p
        .btn-group
            button.btn.btn-modal Закрыть