mixin item()
    .col-sm-6.col-md-4
        .catalog-item
            .catalog-cart
                img.catalog-item__img.img-responsive(src='http://lorempixel.com/214/250/cats/')
                .catalog-item__price-wrap
                    .catalog-item__price-bg
                    .catalog-item__price 1120
            .catalog-item__title Кепон “На районе”