.col-md-4
    .block-info
        .about__item
            .about__header
                img(src='../img/about/time.png', width=40, height=61).about__img
                .about__title Срок проведения голосования
            .about__info 30 января — 13 февраля<br> 2017 года
.col-md-4
    .block-info
        .about__item
            .about__header
                img(src='../img/about/people.png', width=93, height=61).about__img
                .about__title Участники голосования
            .about__info Жители Петроградского района
.col-md-4
    .block-info
        .about__item
            .about__header
                img(src='../img/about/format.png', width=49, height=61).about__img
                .about__title Формат голосования
            .about__info Онлайн-голосование