.col-sm-4
    a(href='/step1.html').block-info.block-info--border
        .block__wrapper
            h3.block-info__title А какую стену выберите ВЫ?
            p Выбор пяти вариантов стен Петроградского района Санкт-Петербурга для оформления рофессиональными художниками рисунков, созданных детьми в рамках проведенного конкурса.
            p
                span.subinfo Начало проведения голосования<br> с 30.01.2017 по 13.02.2017
            p
                p.block-info__more подробно
.col-sm-4
    .block-info.block-info--border
        .block__wrapper
            h3.block-info__title Итоги голосования
            p Приняли участие 75 445 активных граждан.
            p
                p.block-info__more подробно
.col-sm-4
    .block-info.block-info--border
        .block__wrapper
            h3.block-info__title Решение
            p ПВ мае 2017 года по адресам … были произведена зарисовка стен, которые выбрали граждане Петроградского района Санкт-Петербурга.
            p
                p.block-info__more подробно
.col-sm-4
    a(href='/step1.html').block-info.block-info--border
        .block__wrapper
            h3.block-info__title А какую стену выберите ВЫ?
            p Выбор пяти вариантов стен Петроградского района Санкт-Петербурга для оформления рофессиональными художниками рисунков, созданных детьми в рамках проведенного конкурса.
            p
                span.subinfo Начало проведения голосования<br> с 30.01.2017 по 13.02.2017
            p
                p.block-info__more подробно
.col-sm-4
    .block-info.block-info--border
        .block__wrapper
            h3.block-info__title Итоги голосования
            p Приняли участие 75 445 активных граждан.
            p
                p.block-info__more подробно
.col-sm-4
    .block-info.block-info--border
        .block__wrapper
            h3.block-info__title Решение
            p ПВ мае 2017 года по адресам … были произведена зарисовка стен, которые выбрали граждане Петроградского района Санкт-Петербурга.
            p
                p.block-info__more подробно