.col-sm-3
    img.img-responsive(src='http://lorempixel.com/256/320/cats/')
.col-sm-9
    h1 Уважаемые жители Петроградского района!
    .text
        p Рад приветствовать вас на онлайн - площадке Петроградского района «Голос Петроградки».
        p Петербург начинается с Петроградской стороны. Знаменитая Петроградская сторона – главный свидетель основания Санкт-Петербурга - является одним из символов удивительной и прекрасной Северной столицы.  Сейчас Петроградская сторона – динамичное пространство, которое живет, трансформируется, разрастается: здесь удобно жить, работать, учится и отдыхать. Это особое место еще и потому, что здесь присутствует особенная атмосфера, объединяющая всех обитателей Петроградской стороны – где чувствуется, что жизнь не проходит мимо, а все происходящее касается именно тебя.
        p Мы живем в быстроменяющемся мире. Так  власть, чтобы быть эффективной, должна постоянно модернизироваться, не отставать ни на шаг. Интернет – прекрасный для этого инструмент. Cегодня Интернет как средство коммуникации является показателем открытости органов власти.
        p Эту онлайн-площадку мы создавали для вас, ставя перед собой цель наиболее полного заинтересованного сотрудничества по актуальным вопросам, возникающим в Петроградском районе. На данной площадке мы будем размещать вопросы и предложения администрации Петроградского района для сбора общественного мнения.
        p Нам важно каждое Ваше мнение и искренний интерес к Петроградскому району!
        br
        br
        p Громов Иван Александрович
