- for (var x = 0; x < 4; x++)
    .col-sm-12.news__item-wrap
        a(href='/news_single.html').news__item.block-info
            .block__wrapper
                .news__title
                    p Подведены итоги голосования по выбору членов общественных советов при исполнительных органах государственной власти Санкт-Петербурга
                p
                    span.subinfo 27 февраля 2016

.col-sm-12.news__item-wrap
    .block-footer
        .block-footer__item
            a(href='/news.html') все новости