a(href='vote.html').vote-slider__item
    .vote-slider__header
        .vote-slider__title Опыт проведения первого соседского фестиваля «Твой двор»
    .vote-slider__body
        .vote-slider__text Выбор пяти вариантов стен Петроградского района Санкт-Петербурга для оформления рофессиональными художниками рисунков, созданных детьми в рамках проведенного конкурса.
    .vote-slider__footer
        .vote-slider__dates
            .vote-slider__start
                .subinfo Начало
                .vote-slider__date 12.05.17
            .vote-slider__end
                .subinfo Завершение
                .vote-slider__date 12.05.17
        .vote-slider__status
            .vote-slider__status-text.green Идёт
            .vote-slider__status-icon.vote-slider__status-icon--active(title='Вы проголосовали')