include ../mixins/vote/selected_item

.col-md-10.col-md-offset-1
    .row
        - for (var x = 0; x < 10; x++)
            +_selected_item()
    .row
        .col-md-12
            .vote-comment
                .vote-comment__head
                    a(href='/step1.html') Изменить моё решение
                    span.subinfo оставить комментарий
                .vote-comment__body
                    textarea.vote-comment__textarea(name='comment', rows=5)
                .vote-comment__footer
                    span.subinfo моё мнение