section.block
    .container
        .row
            .col-md-10.col-md-offset-1
                .vote-info
                    .vote-info__head
                        .vote-info__title Подтверждение голосования

                    ul.vote-list
                        li.vote-list__item Введите адрес вашей электронной почты
                        li.vote-list__item Получите письмо от нашего портала
                        li.vote-list__item Перейдите по ссылке, отправленной вам на адрес электронный почты для подтверждения