section.block
    .container
        .row
            .col-md-10.col-md-offset-1
                .vote-info
                    .vote-info__head
                        .vote-info__title голосование
                        .vote-info__subtitle Администрация Петроградского района

                    p Голосование с целью выбрать 5 стен в нашем районе с помощью заинтересованых граждан. Цель мероприятия, Выбор пяти вариантов стен Петроградского района Санкт-Петербурга для оформления профессиональными художниками рисунков, созданных детьми в рамках проведенного конкурса.

                    ul.vote-list
                        li.vote-list__item Выберите вариант за который Вы хотите отдать голос
                        li.vote-list__item Максимальное количество вариантов, за которые можно проголосовать - 5
                        li.vote-list__item После того как Ваш голос будет принят, изменить решение будет невозможно