include ../mixins/vote/item

section.block
    .container
        .row
            .col-md-12
                include vote_table_head

        .row
            .col-md-12
                .vote-table
                    +item()
                    +item()
                    +item()
                    +item()
                    +item()
                    +item()