.vote-table-head
    .row
        .col-md-8
            .vote__title А какую стену выберите вы?
        .col-md-4
            .list-pager
                .vote__count.text-right
                    .vote__count__number
                        span.vote__count__current 3
                        | /
                        span.vote__count__max 5
                    .vote__count__subtitle голосов