.container-fluid.vote-slider__container
    .row
        .col-md-12
            .container
                .row
                    .col-md-12
                        .vote-slider-control
                            .vote-slider-control__item.vote-slider-control__item--actual.vote-slider-control__item--active
                                .vote-slider-control__item__text текущие голосования
                            .vote-slider-control__item.vote-slider-control__item--all
                                .vote-slider-control__item__text Все голосования
                        .vote-slider
                            .row
                                .vote-slider__content.vote-slider__content--actual.vote-slider__content--active
                                    #vote-slider-actual.swiper-container
                                        .swiper-wrapper
                                            - for (var i = 0; i < 2; i++)
                                                .swiper-slide
                                                    include slider_item
                                        #vote-slider-actual-prev.swiper-button-prev
                                        #vote-slider-actual-next.swiper-button-next
                                .vote-slider__content.vote-slider__content--all
                                    #vote-slider-all.swiper-container
                                        .swiper-wrapper
                                            - for (var i = 0; i < 6; i++)
                                                .swiper-slide
                                                    include slider_item
                                        #vote-slider-all-prev.swiper-button-prev
                                        #vote-slider-all-next.swiper-button-next


    script.
        window.onload = function () {
            var slider_actual = new Swiper('#vote-slider-actual', {
                direction: 'horizontal',
                loop: false,
                centeredSlides: false,
                prevButton: '#vote-slider-actual-prev',
                nextButton: '#vote-slider-actual-next',
                setWrapperSize: true,
                slidesPerView: 3,
                breakpoints: {
                    // when window width is <= 640px
                    640: {
                        slidesPerView: 1
                    },
                    // when window width is <= 1024px
                    1024: {
                        slidesPerView: 2
                    }
                }
            });

            var slider_all = new Swiper('#vote-slider-all', {
                direction: 'horizontal',
                loop: false,
                centeredSlides: false,
                prevButton: '#vote-slider-all-prev',
                nextButton: '#vote-slider-all-next',
                setWrapperSize: true,
                slidesPerView: 3,
                breakpoints: {
                    // when window width is <= 640px
                    640: {
                        slidesPerView: 1
                    },
                    // when window width is <= 1024px
                    1024: {
                        slidesPerView: 2
                    }
                }
            })

            function toggleVoteSlider(type) {
                if (type === 'all') {
                    $('.vote-slider-control__item--actual').removeClass('vote-slider-control__item--active');
                    $('.vote-slider-control__item--all').addClass('vote-slider-control__item--active');
                    $('.vote-slider__content--actual').removeClass('vote-slider__content--active');
                    $('.vote-slider__content--all').addClass('vote-slider__content--active');
                    slider_all.update();
                } else if (type == 'actual') {
                    $('.vote-slider-control__item--actual').addClass('vote-slider-control__item--active');
                    $('.vote-slider-control__item--all').removeClass('vote-slider-control__item--active');
                    $('.vote-slider__content--actual').addClass('vote-slider__content--active');
                    $('.vote-slider__content--all').removeClass('vote-slider__content--active');
                    slider_actual.update();
                }
            };

            $('.vote-slider-control__item--actual').on('click', function () {
                if (!$(this).hasClass('vote-slider-control__item--active')) {
                    toggleVoteSlider('actual');
                }
            });

            $('.vote-slider-control__item--all').on('click', function () {
                if (!$(this).hasClass('vote-slider-control__item--active')) {
                    toggleVoteSlider('all');
                }
            })
        };