.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 272px;
  padding: 20px 0;
}

  .nav__items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .nav__items--logo {
    width: 50%;
  }

@media (max-width: $screen-sm-max) {
  .nav {
    flex-direction: column;
    height: auto;
    min-height: 272px;
    padding-top: 80px;
  }

  .nav__items {
    flex-direction: column;
  }

  .nav__items--logo {
    order: -1;
  }
}

  .nav__item {
    padding-bottom: 5px;
  }

  .nav__item--logo {

  }

    //.nav__link {
    //  color: $color-white;
    //  background-image: linear-gradient(to right, $color-cyan 100%, rgba(255,255,255,0) 0%);
    //}
    //
    //.nav__link:hover {
    //  color: $color-cyan;
    //  //background-image: linear-gradient(to right, $color-white 100%, rgba(255,255,255,0) 0%);
    //}