.offer {
  text-align: center;
}

  .offer__title {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1.15em;
    font-size: $font-size-large;
    font-weight: 500;
    line-height: 1.15em;
    text-transform: uppercase;
    word-break: break-all;
    word-break: break-word;
  }

    .offer__title:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 445px;
      height: 2px;
      transform: translateX(-50%);
      background-color: $color-cyan;
    }

    .offer__title:after {
      @extend .offer__title:before;
      top: auto;
      bottom: 0;
      max-width: 730px;
    }

  .offer__subtitle {
    font-size: $font-size-medium;
    font-weight: 200;
  }

@media (max-width: $screen-xs-min) {
  .offer__title {
    font-size: $font-size-medium;
  }

  .offer__subtitle {
    font-size: $font-size-base;
  }
}