nav.navbar
    button.navbar-toggle(data-target='#navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active
                a(href='/index.html')
                    span Голосования
            li
                a(href='#')
                    span Магазин поощрений
            li
                a(href='/piters.html')
                    span В питере
            li
                a(href='/map.html')
                    span Проект на карте
            li
                a(href='#' data-toggle="dropdown" id="nav1" aria-haspopup="true" aria-expanded="false")
                    span О проекте
                    span.caret
                ul.dropdown-menu(aria-labelledby="nav1")
                    li
                        a(href='/news.html')
                            span Новости
                    li
                        a(href='/info.html')
                            span Порядок работы с сообщениями
                    li
                        a(href='/info.html')
                            span Условия пользования информацией
                    li
                        a(href='/info.html')
                            span Пользовательское соглашение
                    li
                        a(href='/info.html')
                            span Статусы Пользователей Портала
                    li
                        a(href='/feedback.html')
                            span Обратная связь