extends ./template/base/layout

include ./template/mixins/piter/item
include ./template/mixins/article/item
include ./template/components/mixins/button

block content
    .row
        .collapse
            include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 Обратная связь
            .col-md-12
                .article-content
                    .article-content__text
                        p Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
                    form
                        .form-group
                            input.form-control(type='text', placeholder='e-mail для ответа')
                        .form-group
                            select.form-control
                                option Выберите тему ответа
                                option 2
                                option 3
                        .form-group
                            textarea.form-control Текст комментария
                        .form-group
                            +button("Комментировать", 'primary')