extends ./template/base/layout

include ./template/mixins/piter/item
include ./template/mixins/article/item
include ./template/components/mixins/button

block content
    .row
        .collapse
            include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 Текущие голосования
                    +button('Все голосования', 'default', '/polls.html')
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 3; i++)
                            .grid-item
                                +_article(i)
    section
        .row
            .col-md-12
                header.section-header
                    h2 В Питере
                    +button('Все в Питере', 'default', '/piters.html')
                .row
                    - for (var i = 0; i < 3; i++)
                        .grid-item
                            +_piter()