extends ./template/base/layout-map

include ./template/mixins/news/item

block content
    .row
        .collapse
            include ./template/components/nav/nav
    .row
        //.col-md-12
        #map
        #popup.ol-popup
            a(href='#')#popup-closer.ol-popup-closer
            #popup-content

        script.
