extends ./template/base/layout

block page_title
    title Модалки

block content
    //include ./template/components/modals/login
    include ./template/components/modals/password_recovery
    include ./template/components/modals/change_password
    include ./template/components/modals/recovery_password
    include ./template/components/modals/registration_step_1
    include ./template/components/modals/registration_step_2
    include ./template/components/modals/registration_step_3
    include ./template/components/modals/registration_alert
    include ./template/components/modals/autorization_alert_wrong_code
    include ./template/components/modals/autorization_alert_wrong_phone_or_code
    include ./template/components/modals/recovery_password_alert
    include ./template/components/modals/vote_alert_no_registration

    script.
        window.onload = function () {
            $('#dd').modal();
        }