extends ./template/base/layout

include ./template/components/mixins/button
include ./template/mixins/piter/item

block content
    .row
        include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 О проекте "Голос Петербурга"
            .col-md-12
                .article-content
                    img.article__img.img-responsive(src='http://lorempixel.com/900/400/cats/')
                    .article-content__text
                        p Равные возможности - равные развлечения. Часто бывает, что дети и молодые люди исключаются из социальной жизни после приобретения тех или иных ограничений по здоровью. Значит ли это, что подобные изменения навсегда лишают детей и подростков радости от совместного активного отдыха? Мы считаем что нет. В настоящее время в районе ясно ощущается недостаток подобных площадок, универсальных для всех видов молодежи. Организация подобной скейт-плазы позволит вовлечь в социальную жизнь как тех, кто уже занимается активными видами спорта, так и тех, кто еще только решается на это - помимо размещения необходимого спортивного инвентаря, предполагается организация бесплатной спортивной секции. В настоящий момент на месте возможного размещения скейт-парка располагается футбольная площадка, огороженная забором.