extends ./template/base/layout

include ./template/components/mixins/button
include ./template/mixins/piter/item
include ./template/mixins/news/item

block content
    .row
        include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 В Питере
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 6; i++)
                            .grid-item
                                +_piter(i)
    section
        .row
            .col-md-12
                header.section-header
                    h2 Новости проекта
                    +button('Все новости', 'default', '/news.html')
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 3; i++)
                            .grid-item
                                +_news(i)