extends ./template/base/layout

include ./template/components/mixins/button
include ./template/mixins/article/item
include ./template/mixins/piter/item

block content
    .row
        include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 Все голосования
                    +button('Активые голосования', 'default', '/index.html')
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 6; i++)
                            .grid-item
                                +_article(i)
                    .col-md-12
                        include ./template/components/pagination/pagination
    section
        .row
            .col-md-12
                header.section-header
                    h2 Новости проекта
                    +button('Все новости', 'default', '/news.html')
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 3; i++)
                            .grid-item
                                +_piter(i)