extends ./template/base/layout
include ./template/components/mixins/button
include ./template/components/form/radio
include ./template/components/comment/item

block content
    .row
        .collapse
            include ./template/components/nav/nav
    section
        .row
            .col-md-12
                header
                    h1 Скейт-Парк для всех или "КОРОБКА" для некоторых?

                .article-content
                    .epigraph
                        p Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
                    .article-content__text
                        p Равные возможности - равные развлечения. Часто бывает, что дети и молодые люди исключаются из социальной жизни после приобретения тех или иных ограничений по здоровью. Значит ли это, что подобные изменения навсегда лишают детей и подростков радости от совместного активного отдыха? Мы считаем что нет. В настоящее время в районе ясно ощущается недостаток подобных площадок, универсальных для всех видов молодежи. Организация подобной скейт-плазы позволит вовлечь в социальную жизнь как тех, кто уже занимается активными видами спорта, так и тех, кто еще только решается на это - помимо размещения необходимого спортивного инвентаря, предполагается организация бесплатной спортивной секции. В настоящий момент на месте возможного размещения скейт-парка располагается футбольная площадка, огороженная забором.
                    .photos
                        img(src='http://lorempixel.com/182/153/cats/').photo
                        img(src='http://lorempixel.com/182/153/cats/').photo
                        img(src='http://lorempixel.com/182/153/cats/').photo
                    h4 Строим скейт-парк?
                    form
                        .form-group
                            +_radio('x', 'x1', 'Да, поддерживаю инициативу по созданию скейт-парка', false)
                        .form-group
                            +_radio('x', 'x2', 'Нет, лучше оставить все как есть', true)
                        .form-group
                            +button('завершить Голосование', 'primary')
                    h4 Комментарии к голосованию
                    .comments
                        -for(var i = 0; i < 3; i++)
                            +_comment()