extends ./template/base/layout

include ./template/components/mixins/button
include ./template/mixins/article/item
include ./template/mixins/news/item
include ./template/components/form/radio

block content
    .row
        .collapse
            include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 Кнопки
        .row
            .col-md-12
                +button("Все голосования")
                +button("О голосовании", 'success')
                +button("Голосовать", 'primary')
    section
        .row
            .col-md-12
                header.section-header
                    h2 Инпуты
        .row
            .col-md-12
                h4 Радио
                form
                    .form-group
                        +_radio('test', 'test1', 'Да, поддерживаю инициативу по созданию скейт-парка', false)
                    .form-group
                        +_radio('test', 'test2', 'Да, поддерживаю инициативу по созданию скейт-парка', true)
                h4 Текст
                form
                    .form-group
                        input.form-control(type='text', placeholder='e-mail для ответа')
                h4 Селект
                form
                    .form-group
                        select.form-control
                            option 1
                            option 2
                            option 3
                h4 Текстареа
                form
                    .form-group
                        textarea.form-control

    section
        .row
            .col-md-12
                header.section-header
                    h2 Текущие голосования
                .row
                    .grid
                        .grid-sizer
                        - for (var i = 0; i < 6; i++)
                            .grid-item
                                +_article(i)
                    .col-md-12
                        include ./template/components/pagination/pagination
    section
        .row
            .col-md-12
                header.section-header
                    h2 В Питере
            .row
                - for (var i = 0; i < 5; i++)
                    .grid-item
                        +_news()