.vote-comment {
  margin-top: 30px;
}

  .vote-comment__head {

  }

    .vote-comment__head .subinfo {
      padding-left: 100px;
    }

  .vote-comment__body {
    margin-top: 40px;
    border: 2px solid $color-cyan;
    border-radius: 12px;
    background: transparentize($color-cyan-light, .75);
  }

    .vote-comment__textarea {
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px 16px;
      background: transparent;
      color: $color-white;
      border: none;
      outline: none;

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }

  .vote-comment__footer {
    margin-top: 30px;
  }

  .vote-email {
    margin-bottom: 40px;
  }

  .vote-end {
    margin: 180px 0;
    font-size: 54px;
    font-weight: 600;
    text-transform: uppercase;
  }
