.vote-selected {

}

  .vote-selected__item {
    display: flex;
    align-items: center;
    padding: 6px 0;
  }

    .vote-selected__photo {
      display: inline-block;
      margin-right: 25px;
    }

    .vote-selected__title {
      font-weight: 500;
    }