.vote-solution {
  padding: 40px 50px;
  margin-top: 65px;
  background-color: rgba(15, 27, 36, .7);
}

@media (max-device-width: $screen-md-min) {
  .vote-solution {
    margin-left: -15px;
    margin-right: -15px;
  }
}