.vote-table-head {
  margin-bottom: 30px;
}

  .vote__title {
    font-size: 28px;
    font-weight: 500;
    color: $color-cyan;
  }

  .vote__count {
    color: $color-cyan-light;
  }

    .vote__count__number {
      font-size: $font-size-h2;
      font-weight: 600;
    }

    .vote__count__subtitle {
      font-size: 14px;
      font-style: italic;
      margin-top: -6px;
    }