mixin _news()
    a.article(href='/new.html')
        header.article__header
            .article__header__img(style='background-image: url(https://glasscannon.ru/wp-content/uploads/2016/03/tenta_hs_ktun.jpg)')
            h3.article__title Основные события культуры в Санкт-Петербурге с 21 по 27 августа 2017 года
        .article__text
            p Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
        footer.article__footer
            .meta__group
                .meta
                    .meta__date 30 июля 2017 года