html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}

html.nav-open {
  overflow: hidden;
}

body {
  position: relative;
}

//.wrapper {
//  min-height: calc(100vh - 294px);
//}

$text-color: $color-black;