$color-black: #16131d;
$color-white: #ffffff;
$color-gray: #dfdfdf;
$color-gray-dark: #b3b3b3;
$color-blue: #2d68ee;
$color-cyan-light: #97edd7;
$color-green: #23b423;
$color-green-light: #e6f8f5;
$color-main: #2a125d;


$color-cyan: #0dc6d6;
$color-cyan-light: #34dfb1;;
$color-blue-dark: #297fb8;
$color-blue-light: #e1f0fa;

$color-yellow: #fbffbf;
$color-orange: #ffa025;
$color-red: #e74c3c;
$color-green-dark: #34db3f;

$input-bg: #f5f5f5;
$input-border: #d6d6d6;