$font-family-sans-serif:  'geometria', Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 2.5));                                  // ~40px
$font-size-medium:        ceil(($font-size-base * 1.444444444444444));                    // ~
$font-size-small:         ceil(($font-size-base * 0.88888888888));                        // ~
$font-size-smallest:      ceil(($font-size-base * 0.666666667));                          // ~

$font-size-h1:            floor(($font-size-base * 2));                                   // ~32px
$font-size-h2:            floor(($font-size-base * 3.12500));                             // ~50px
$font-size-h3:            ceil(($font-size-base * 1.125));                                // ~18px
$font-size-h4:            ceil(($font-size-base * 1.37500));                              // ~22px
//$font-size-h5:            $font-size-base;
//$font-size-h6:            ceil(($font-size-base * 0.85));

//$headings-line-height: 1;

small, .small {
  font-size: $font-size-smallest !important;
  font-weight: 300;
}