.fotorama(data-nav='thumbs' data-allowfullscreen="true" data-width="100%" data-maxheight="650" data-fit="contain" data-loop="true" data-autoplay="true")
    img(src='http://www.petrogradnews.ru/icon/news_img2/705x470/55171_1494841231.jpg')
    img(src='http://www.petrogradnews.ru/icon/news_img2/705x470/55176_1494841307.jpg')
    img(src='http://www.petrogradnews.ru/icon/news_img2/705x470/55180_1494841521.jpg')
    img(src='http://www.petrogradnews.ru/icon/news_img2/705x470/55184_1494841641.jpg')
    img(src='http://www.petrogradnews.ru/icon/news_img2/705x470/55191_1494841880.jpg')
    img(src='http://lorempixel.com/420/820/cats/')