include ../mixins/block

.content

    +_block('О голосовании')
        include ../components/about

    section.block
        include ../components/vote_slider

    +_block('Новости')
        include ../components/news