.content
    section.block
        .container
            .row
                .col-md-12
                    .news-single
                        h1 Открыто новое голосование за кандидатов от комитет по межнациональным отношениям и реализации миграционной политики в Санкт-Петербурге
                        .text
                            p
                                span.subinfo 22 Ноября 2015
                            img(src='http://lorempixel.com/730/290/cats/', width=730, height=290)
                            p Lorem ipsum urna in sapien, ligula magna enim eros orci adipiscing nulla tellus nam donec nec molestie sed mauris ipsum, morbi in ultricies. Sed in, arcu at mattis diam fusce elementum curabitur quam fusce: duis metus lectus fusce orci — tempus at nec eget. Mattis justo tellus rutrum, cursus pellentesque porttitor at sem ipsum a rutrum arcu ornare in leo morbi lectus. Amet ligula quam sed tellus, amet rutrum curabitur tellus maecenas arcu quam mauris, morbi tellus sit, ornare at porta. Bibendum, sagittis a donec quam sagittis mattis sed elementum arcu curabitur bibendum arcu — metus, donec porttitor: adipiscing, lectus in diam sagittis sed adipiscing quam. Quam duis orci urna ligula nibh eget integer orci, auctor massa proin enim malesuada, quam.

                            p Et urna justo massa nec magna a tempus magna maecenas commodo sem auctor, vivamus pellentesque non, proin mattis ultricies duis. Quam cursus: duis risus et, leo urna massa gravida rutrum massa sem, ornare morbi nam metus mauris curabitur duis, eget quam ligula quisque. Sodales ornare porta, massa quam, ultricies metus bibendum risus a pellentesque at sapien eros duis. Pellentesque adipiscing porta: sodales gravida sed, sodales nec proin in bibendum sapien a, ornare adipiscing in. Massa ut mattis eros rutrum ultricies integer — quam nec nam leo justo in. Et sodales sem, fusce eu lorem quisque, non cursus auctor, vulputate odio sodales sagittis proin malesuada commodo non diam et ligula integer: et. Congue sagittis: sodales porttitor sit integer justo mattis in ipsum sodales ut eu adipiscing lorem nec.
                    .block-footer
                        .block-footer__item
                            a(href='/news.html') Перейти на список новостей