include ../mixins/step

.content

    .container
        .row
            .col-md-10.col-md-offset-1
                include ../components/gallery/gallery

    +_step(1)

    include ../components/vote_step1_info

    form.block.form-vote(action='/step2.html')

        include ../components/vote_table

        section.block
            .container
                .row
                    .col-md-6.col-md-offset-3.text-center
                        button.btn.btn-primary(type='submit') Проголосавать