include ../mixins/step
include ../mixins/block

.content

    +_step(2)

    include ../components/vote_step2_info

    form.block(action='/step3.html')

        +_block('Ваш выбор')
            include ../components/vote_selected

        section.block
            .container
                .row
                    .col-md-6.col-md-offset-3.text-center
                        h2.block-title Подтверждение голосования по e-mail
                        .row
                            .col-md-8.col-md-offset-2
                                input.vote-email.form-control(type='email', name='email')
                        button.btn.btn-primary(type='submit') Проголосавать