.content
    .container
        .row
            .col-md-12
                h2 Итоги голосования
                p Наибольшее количество голосов набрала художественная роспись "Деревья" - за этот вариант проголосовали 346 человек. "Полет" одобрило чуть меньшее количество жителей - всего 314 проголосовавших.
                a(href='#') Подробнее
        .row
            .col-md-12
                .vote-solution
                    h2.orange Решение
                    p Администрация Петроградского района выражает благодарность всем участникам голосования и сообщает, что проект художественной росписи "Деревья" на фасаде дома по адресу ул. Подковырова, д.8 , будет реализован в течение летнего периода 2017 в зависимости от погодных условий.
