mixin item()
    .vote-table__row
        .vote-table__cell.vote-table__cell--checkbox
            label.checkbox-circle
                input(name="GroupForm[candidates_array][]", type="checkbox", value="")
                .checkbox-circle__bg
        .vote-table__cell.vote-table__cell--photo
            img.img-circle(src="http://lorempixel.com/126/126/cats/", width=126, height=126)
        .vote-table__cell.vote-table__cell--title
            span.vote-table__title Большая Зеленина, 15
        .vote-table__cell.vote-table__cell--metro
            span.vote-table__metro Чкаловская
        .vote-table__cell.vote-table__cell--info
            a(href="#")
                i.vote-table__info