mixin _selected_item()
    .col-sm-6
        .vote-selected__item
            img.vote-selected__photo.img-circle(src='http://lorempixel.com/44/44/cats/', width=44, height=44)
            span.vote-selected__title Невский проспект, дом 151, литера Д