.btn {
  padding: 5px 32px 6px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: initial;
  transition: color .2s ease, border .2s ease, background .2s ease;
}

.btn-default {
  background-color: #fff;
  border: 2px solid $color-cyan-light;
}

.btn-primary {
  background-color: $color-blue;
  border-color: $color-blue;
}

.btn-success {
  background-color: $color-green;
  border-color: $color-green;
}

.btn-default,
.btn-primary,
.btn-success {
  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active {
    outline: none;
    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.btn-default:hover {
  color: #fff;
  background-color: $color-cyan-light;
  border-color: $color-cyan-light;
}

.btn-primary:hover {
  background-color: #2158d5;
  border-color: #2158d5;
}

.btn-success:hover {
  background-color: #179917;
  border-color: #179917;
}