.navbar-toggle {
  z-index: 3;
}

  .navbar-toggle .icon-bar {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(22, 19, 29, .55);
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-left: 5px;
  }

@media (min-width: $screen-xs-min) {
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: $screen-lg-min) {
  body:not(.map-full) {
    .navbar-toggle {
      display: none;
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: auto;
  max-width: 370px;
  border: none;
}

.navbar {
  //position: fixed;
}

.navbar-collapse.collapse {
   display: none !important;
   transform: translateX(150%);
}

.navbar--open {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: -8px 0px 1px 2000px rgba(0,0,0,.5);
}

.navbar-collapse.collapse {
  position: absolute;
  width: 100%;
  height: 100%!important;
  overflow-y: scroll;
  transform: translateX(0);
}

.nav-open .navbar-collapse.collapse {
  display: block!important;
  overflow: auto!important;
}

.nav {
  display: flex;
  flex-direction: column;
  float: none;
  //overflow: auto;

  & > li {
    flex-shrink: 0;
    float: none;

    & > a {
      font-family: 'roboto_condensed', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: $color-black;
      text-transform: uppercase;

      & > span {
        display: inline-block;
        padding-bottom: .25em;
        border-bottom: 2px solid $color-gray;
        transition: border .2s ease;
      }
    }

    & > a[data-toggle='dropdown'] {

      & > span {
        display: inline-block;
        padding-bottom: .25em;
        border-bottom: none;
      }

      & + ul {
        padding: 14px 0;

        & > li > a {
          padding: 14px 30px;

          & > span {
            border-bottom: 2px solid transparent;;
          }
        }

        & > li > a:hover,
        & > li > a:focus {
          & > span {
            border-bottom-color: $color-cyan-light;
          }
        }
      }
    }

    & > a:hover,
    & > a:focus,
    &.active > a {
      background: none;
      outline: none;

      & > span {
        border-bottom-color: $color-cyan-light;
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  .navbar {
    //position: fixed;
  }

  .navbar-collapse.collapse {

  }
}

@media (min-width: $screen-sm-min) {
  .navbar {
    //position: fixed;
  }

  .navbar-collapse.collapse {

  }
}

@media (min-width: $screen-md-min) {
  .navbar {
    //position: fixed;
  }

  .nav {
    flex-direction: column;
  }

  .navbar-collapse.collapse {

  }
}

@media (min-width: $screen-lg-min) {
  body:not(.map-full) {
    .navbar {
      max-width: initial;
      width: 100%;
    }

    .navbar--open {
      position: static;
      box-shadow: none;
    }

    .navbar-collapse.collapse {
      display: block!important;
      transform: translateX(0);
    }

    .nav-open {
      //overflow: auto!important;
    }

    .nav {
      flex-direction: row;
      margin: 7.5px -15px;
    }
  }
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: inherit;
  border-color: inherit;
}


.nav-open  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #fff;
    border: 0;
  padding-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.navbar--open:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.nav-open .navbar {
  width: 100%;
  max-width: 370px;
}

.dropdown-menu {
  & > li {
    & > a {
      padding: 10px 15px;
      font-family: 'roboto_condensed', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: $color-black;
      text-transform: uppercase;

      & > span {
        display: inline-block;
        padding-bottom: .25em;
        border-bottom: 2px solid $color-gray;
        transition: border .2s ease;
      }
    }

    & > a:hover,
    & > a:focus,
    &.active > a {
      background: none;
      outline: none;

      & > span {
        border-bottom-color: $color-green;
      }
    }
  }
}