.pagination {
  display: flex;
  margin: ($line-height-computed * 1.5) 0;

  > li {
    display: inline;
    > a,
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      margin-left: 14px;
      padding: 0;
      border-radius: 50%;
      background-color: transparent;
      font-family: 'Geometria', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: #16131d;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
      }
    }
    &:last-child {
      > a,
      > span {
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      background-color: #dfdfdf;
      text-decoration: none;
      color: inherit;
    }
  }

  > li.active > a,
  > li.active > span {
    &,
    &:hover,
    &:focus {
      background-color: #34dfb1;
      color: inherit;
      cursor: default;
    }
  }
}