body {
  line-height: 1.2;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
  margin-bottom: 1em;
}

h1, .h1 {
  font-family: 'cera_pro', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5625em;
}

h2, .h2 {
  font-family: 'cera_pro', sans-serif;
  font-weight: 600;
  margin: 0;
  margin-bottom: .9em;
  color: $color-main;
}

h3, .h3 {
  margin-bottom: 1.38888888889em;
  font-weight: 600;
}

h4, .h4 {
  margin-top: 0;
  margin-bottom: 1.81818182em;
  font-weight: 600;
}


p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

a {
  color: #34dfb1;
}

a:hover {
  color: #34dfb1;
}