.about {

}

  .about__item {
    margin-bottom: 30px;
  }

  .about__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

    .about__img {
      flex-shrink: 0;
      margin-right: 35px;
    }

    .about__title {
      font-size: 20px;
    }

  .about__info {
    font-weight: 300;
  }