.article {
  display: block;
  position: relative;
  //margin-bottom: 50px;
  margin-top: 10px;
  padding-top: 30px;
  padding-right: 25px;
  color: inherit;
  text-decoration: none;
}

.article:hover,
.article:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
  & h3 {
    color: #2d68ee;
  }
}

.article.article-poll:not(.article--voted):hover:after {
  right: 0;
  opacity: .2;
}

.article:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 176px;
  height: 200px;
  background-repeat: no-repeat;
  opacity: .2;
}

  .article__header__img {
    width: 100%;
    height: 190px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }

.article:after {
  background-image: url('../img/icons/article-poll-go-to.png');
  opacity: 0;
  right: 50px;
  transition: right .2s ease, opacity .2s ease;
}

.article--voted:after {
  opacity: .2;
  right: 0;
  background-image: url('../img/icons/article-poll-voted.png');
}

  .article__text {
    margin-bottom: 2.5em;
  }


  .article__footer__btns {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

.article__img {
  margin-bottom: 2.5em;
}