.block {

}

.block + .block {
  margin-top: 85px;
}

  .block-title {
    position: relative;
    margin-bottom: 65px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  .block-title:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 100%;
    max-width: 50px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #0dc6d6;
  }

  .block-title--orange {
    color: $color-orange;
  }

  .block-info {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }

  .block-info--border {
    height: 370px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid $color-cyan;
    border-radius: 12px;
  }

  .block-info--border p:first-child {
    max-height: 8.4em;
    overflow: hidden;
  }

  .block-info--border p:last-child {
    margin-top: auto;
  }

    .block-info__title {
        margin-bottom: 40px;
    }

    .subinfo {
      font-size: $font-size-small;
      color: $color-cyan-light;
    }

    .block__more {
      text-decoration: underline;
      color: $color-cyan;
    }