.meta {
  width: 100%;
}

  .meta__group {
    display: flex;
    justify-content: space-between;
  }

  .meta__group + .meta__group {
    margin-top: 25px;
  }

    .meta__label {
      font-size: 12px;
      color: $color-gray-dark;
    }

    .meta__data {

    }

    .meta__date {
      font-size: 14px;
      color: $color-gray-dark;
    }