.modal-backdrop {
  background-color: #091111;
}

.modal-backdrop.in {
  opacity: .8;
}

.modal-primary {

}

.modal-primary .modal-content {
  background: #fafbfd;
  border-radius: 0;
  color: $color-black;
  padding: 15px 0;
}

.modal-primary .modal-header,
.modal-primary .modal-body,
.modal-primary .modal-footer {
  border: none;
  padding: 15px 85px;
}

@media (max-width: $screen-xs-max) {
  .modal-primary .modal-header,
  .modal-primary .modal-body,
  .modal-primary .modal-footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.modal-primary .modal-title {
  font-size: $font-size-medium;
  font-weight: 600;
  //text-transform: uppercase;
  text-align: center;
}

.modal-primary .modal-subtitle {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  text-align: center;
}

.modal-primary .modal-alert {
  font-size: $font-size-h1;
  text-align: center;
}

.modal-primary .form-group:last-child {
  margin-bottom: 0;
}


.modal-primary .label {
  font-size: $font-size-small;
  font-weight: 500;
  color: rgb(103, 106, 108);
}

.modal-primary .modal-footer {
  text-align: center;
}

//.modal-primary a {
//  font-weight: 500;
//  color: inherit;
//}
//.modal-primary a:hover {
//  color: inherit;
//}

.modal {
  & .btn {
    padding: 12px 74px;
    font-size: 18px;
    border-radius: 37px;
  }
}