$step-color: rgba(255, 255, 255, .3);
$step-line-color: $step-color;
$step-color-active: $color-white;
$step-line-color-active: $color-cyan;

.container-step {
  margin-top: 45px;
  margin-bottom: 50px;
}

  .step {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

    .step__item {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      background-color: transparent;
      border-radius: 50%;
      border-width: 6px;
      border-style: solid;
      margin: 0 23px;
      border-color: $step-line-color;
      color: $step-color;
    }

    .step__line {
      display: inline-block;
      width: 25%;
      max-width: 225px;
      height: 5px;
      background-color: $step-line-color;
    }

@media (max-width: $screen-md-max) {
  .step__line {
    width: 125px;
  }
}

@media (max-width: $screen-xs-max) {
  .step {
    flex-direction: column;
  }

  .step__item {
    width: 60px;
    height: 60px;
  }

  .step__item {
    margin-bottom: 65px;
  }

  .step .step__item:last-child {
    margin-bottom: 0;
  }

  .step__line {
    display: none;
  }
}

    .step__item + .step__line {
      background-color: $step-line-color;
    }

    .step__item--past + .step__line {
      background-color: $step-line-color-active;
    }

    .step__item--past {
      background-color: $step-line-color-active;
      border-color: $step-line-color-active;
      color: $step-color-active;
    }

    .step__item--past .step__desc {
      color: $step-color-active;
    }

    .step__item--active {
      border-color: $step-line-color-active;
      color: $step-color-active;
    }

      .step__number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 600;
        line-height: 1em;
      }

      .step__desc {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        text-transform: uppercase;
      }