$socials-item-size: 53px;
$socials-item-offset: 21px;
$socials-count: 5;
$socials-summary-size: ($socials-count * $socials-item-size) + (($socials-count - 1) * $socials-item-offset);

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  max-width: $socials-summary-size;
}

  .socials__item {
    width: $socials-item-size;
    height: $socials-item-size;
    background-color: transparent;
    background-size: 100% 100%;
    opacity: .7;
    transition: opacity .3s ease;
  }



  .socials__item:hover {
    opacity: .9;
  }

  .socials__item--vk {
    background-image: url('../img/social/vk.svg') !important;
  }
  .socials__item--fb {
    background-image: url('../img/social/facebook.svg') !important;
  }
  .socials__item--tw {
    background-image: url('../img/social/twitter.svg') !important;
  }
  .socials__item--ig {
    background-image: url('../img/social/instagram.svg') !important;
  }
  .socials__item--tm {
    background-image: url('../img/social/telegram.svg') !important;
  }