.test-label {
  position: absolute;
  left: 50%;
  margin-left: -121px;
  width: 242px;
  padding: 13px 30px 5px 30px;
  background-color: #ee832d;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.test-label:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  bottom: -24px;
  border-top: 24px solid #ee832d;
  border-left: 121px solid transparent;
  border-right: 121px solid transparent;
}

@media (min-width: 1600px) {
  .test-label {
    top: 117px;
    left: 0;
    width: 222px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    margin-left: 0;
  }

  .test-label:before {
    top: 0;
    right: -20px;
    bottom: auto;
    left: auto;
    border-top: 23px solid transparent;
    border-right: transparent;
    border-bottom: 23px solid transparent;
    border-left: 20px solid #ee832d;
  }
}