.checkbox-circle {
  margin: 0;
  cursor: pointer;

  & > input[type='checkbox'] {
    display: none;

    & + label {
      font-weight: 400;

      & .check {
        position: relative;
        display: inline-block;
        height: 26px;
        width: 26px;
        margin-right: 41px;
        border-radius: 50%;
        border: 2px solid $color-main;
        vertical-align: middle;
        transition: border .5s ease;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 16px;
          height: 16px;
          margin-left: -8px;
          margin-top: -8px;
          background-color: $color-main;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .3s ease;
        }

      }
    }

    &:checked + label .check:before {
      opacity: 1;
    }

    &:disabled + label {
      cursor: not-allowed;
      border-color: inherit;
    }
  }
}






.checkbox-arrow > input[type='checkbox'] {
  display: none;
}

.checkbox-arrow > input[type='checkbox'] + label:before {
  content: '\002714';
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  background-color: #fff;
  background-size: 21px 21px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  transition: color .3s ease;
}

.checkbox-arrow > input[type='checkbox']:checked + label:before {
  color: $color-cyan;
}