.radio-circle {
  margin: 0;

  & > input[type='radio'] {
    display: none;

    & + label {
      display: block;
      font-weight: 400;
      cursor: pointer;

      & .check {
        position: relative;
        display: inline-block;
        height: 26px;
        width: 26px;
        margin-right: 41px;
        border-radius: 50%;
        border: 2px solid $color-main;
        vertical-align: middle;
        transition: border .5s ease;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 16px;
          height: 16px;
          margin-left: -8px;
          margin-top: -8px;
          background-color: $color-main;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .3s ease;
        }

      }
    }

    &:checked + label .check:before {
      opacity: 1;
    }

    &:disabled + label {
      cursor: not-allowed;
      border-color: inherit;
    }
  }
}