mixin _checkbox(name, text, checked)
    .checkbox-circle
        input(type='checkbox' id=name name=name checked=checked)
        label(for=name).control-label
            .check
            | #{text}