include ../../components/mixins/button

mixin _article(type)
    a.article.article-poll(href='/poll.html' class=(((type) ? ((type % 2) ? 'article--to-poll' : 'article--voted') : '')))
        header
            h3.article__title Скейт-Парк для всех или "КОРОБКА" для некоторых?
        .article__text
            p Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
        footer.article__footer
            .meta__group
                .meta
                    .meta__label Начало
                    .meta__data 16.08.2017
                .meta
                    .meta__label Завершение
                    .meta__data 10.09.2017
            .meta__group
                .meta
                    .meta__label Проголосовало
                    .meta__data
                        .i.i-user
                        | 357
                .meta
                    .meta__label Комментариев
                    .meta__data
                        .i.i-comment
                        | 357
            .article__footer__btns
                +button("Голосовать", 'primary')