mixin _block(title)
    section.block
        .container
            h2.block-title= title
            .row
                if block
                    block
                else
                   .col-sm-12 lol