mixin _step(page_num)
    section.block
        .container
            .row
                .col-md-10.col-md-offset-1
                    .step
                        .step__item(class=(page_num > 1) ? 'step__item--past' : 'step__item--active')
                            .step__number 1
                            .step__desc шаг
                        .step__line
                        .step__item(class=(page_num > 2) ? 'step__item--past' : ((page_num < 2) ? '' : 'step__item--active'))
                            .step__number 2
                            .step__desc подтверждение
                        .step__line
                        .step__item(class=(page_num > 3) ? 'step__item--past' : ((page_num < 3) ? '' : 'step__item--active'))
                            .step__number 3
                            .step__desc завершение