.widget-side-container
    .widget-side
        .widget-side__logo
            a(href='/index.html')
                img(src='../img/Logo.png')
        .widget-side__contents
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .widget-side__content
                            h3 Возможность участвовать в преображение города
                            p Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...
                            a.widget-side__link(href='#')
                                | о проекте
                                .i.i-arrow
                    .swiper-slide
                        .widget-side__content
                            h3 Возможность участвовать в преображение города
                            p Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...
                            a.widget-side__link(href='#')
                                | о проекте
                                .i.i-external
                    .swiper-slide
                        .widget-side__content
                            h3 Возможность участвовать в преображение города
                            p Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...
                            a.widget-side__link(href='#')
                                | о проекте
                                .i.i-arrow
                    .swiper-slide
                        .widget-side__content
                            h3 Возможность участвовать в преображение города
                            p Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...
                            a.widget-side__link(href='#')
                                | о проекте
                                .i.i-external
            .swiper-pagination
    script.
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 30,
        });