.news {

}

  .news__item {
    border: 2px solid transparentize($color-cyan, .6);
    border-radius: 12px;
    padding: 30px 35px;
    background: none;
    transition: border .2s ease;
  }

  .news__item:hover {
    border: 2px solid $color-cyan;
  }

  .news__item-wrap + .news__item-wrap {
    margin-top: 60px;
  }

    .news__title {
      margin-bottom: 20px;
    }

      .news__link {
        color: $color-white;
        background-image: linear-gradient(to right, $color-cyan 100%, rgba(255,255,255,0) 0%);
      }

      .news__link:hover {
        color: $color-cyan;
      }