#address-widget {
    position: relative;
}
.address-widget-result {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 33px;
    left: 0px;
    background: #fff;
    border: 1px solid #1ab393;
    width: 100%;
}
.address-widget-result li {
    line-height: 20px;
}
.address-widget-result li a {
    display: block;
    padding: 10px;
}
.address-widget-result li a:hover {
    background: #f3f2f2;
}