.catalog-item {
  margin-bottom: 85px;
}

  .catalog-cart {
    position: relative;
    height: 326px;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid $color-cyan;
    border-radius: 12px;
    overflow: hidden;
  }

    .catalog-item__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    .catalog-item__price-wrap {
      position: absolute;
      bottom: 10px;
      left: 15px;
    }

    .catalog-item__price-bg {
      position: absolute;
      bottom: -10px;
      left: -15px;
      display: block;
      width: 198px;
      height: 127px;
      background-image: url('../img/catalog/price_bg.png');
    }

      .catalog-item__price {
        position: relative;
        font-size: 30px;
        font-weight: 600;
      }

  .catalog-item__title {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }