// Reset and dependencies
@import "bootstrap/normalize";

// Core variables and mixins
@import "bootstrap/variables";

// Configs
@import "config/colors";
@import "config/base";
@import "config/type";
@import "config/grid";

// Core CSS
@import "bootstrap/mixins";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
//@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
//@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/responsive-embed";
//@import "bootstrap/wells";
//@import "bootstrap/close";

//// Components w/ JavaScript
@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
//@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "overrides/type";
@import "overrides/buttons";
@import "overrides/nav";
@import "overrides/pagination";

@import "fonts/geometria";
@import "fonts/cera_pro";
@import "fonts/roboto_condensed";

@import "components/link";
@import "components/text";
@import "components/modal";

@import "components/form/form-group";
@import "components/form/label";
@import "components/form/checkbox";
@import "components/form/radio";

@import "components/header/header";
//@import "components/header/nav";
@import "components/header/offer";
@import "components/footer/footer";

@import "components/test/label";

@import "components/block";
@import "components/block-animated";

@import "components/news/news";
@import "components/about/about";

@import "components/step";

@import "components/vote/info";
@import "components/vote/table";
@import "components/vote/table-head";
@import "components/vote/selected";
@import "components/vote/comment";
@import "components/vote/result";
@import "components/vote/solution";
@import "components/vote/slider";

@import "components/catalog/item";

@import "components/socials/socials";

@import "components/article";
@import "components/meta";

@import "components/comment/comment";

.swiper-slide {
  height: auto !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNyA0NCc+PHBhdGggZD0nTTAsMjJMMjIsMGwyLjEsMi4xTDQuMiwyMmwxOS45LDE5LjlMMjIsNDRMMCwyMkwwLDIyTDAsMjJ6JyBmaWxsPScjMGRjNmQ2Jy8+PC9zdmc+) !important;
  left: 0 !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNyA0NCc+PHBhdGggZD0nTTI3LDIyTDI3LDIyTDUsNDRsLTIuMS0yLjFMMjIuOCwyMkwyLjksMi4xTDUsMEwyNywyMkwyNywyMnonIGZpbGw9JyMwZGM2ZDYnLz48L3N2Zz4=) !important;
  right: 0 !important;
}

.grid-sizer, .grid-item {
  @extend .col-xs-12;
}

@media (min-width: $screen-sm-min) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}

@media (min-width: $screen-md-min) {
  .grid-sizer, .grid-item {
    width: 33.33333%;
  }
}

.article-content__text {
  line-height: 1.55;
  margin-bottom: 2.5em;
  & > p {
    font-size: 18px;
  }
}

.article-content {
  & ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;

    & > li {
      display: block;
      background-color: #e4eef7;
      padding: 20px;

      & + li {
        margin-top: 20px;
      }
    }
  }
}

.epigraph {
  padding: 1.59090909em 2.04545455em;
  margin-bottom: 2.27272727em;
  background-color: $color-green-light;
  font-size: 22px;
  line-height: 1.55;
}

section + section {
  margin-top: 70px;
}

.photos {
  margin-top: 2.5em;
}

  .photo {
    margin-right: 2.5em;
    margin-bottom: 3.125em;
  }

  .photos .photo:last-child {
    margin-right: 0;
  }


#map {
  width: 100vw;
  height: 100vh;
}

.widget-side-container {
  min-height: 80px;
  padding: 10px;
  background-color: #e4eef7;
}

.widget-side {
  position: relative;
  flex-direction: column;
  height: 100%;
}

.widget-side__logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  flex-shrink: 0;

  & > img {
    width: 73px;
    height: 28px;
  }
}

.widget-side__contents {
  position: relative;
  display: none;
  height: 100%;
}


.content-container > .container {
  padding-top: 70px;
}

@media (min-width: $screen-xs-min) {
  .widget-side-container {

  }

  .widget-side {


  }

  .widget-side__contents {

  }

  .widget-side__logo {
    width: 100%;
    margin-bottom: 0;
  }

  .content-container {
    width: 100%;
  }
}

.widget-side__content {
  & h3 {
    font-size: 32px;
  }

  & p {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .widget-side__link {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #2d68ee;
    margin-bottom: 30px;
    text-decoration: none;
    opacity: .75;
    transition: opacity .3s ease;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

}

@media (min-width: $screen-sm-min) {
  .widget-side-container {
    position: static;
    width: 100%;
    padding: 50px 20px 40px;
  }

  .widget-side {
    display: flex;
    flex-direction: row;
  }

  .widget-side__logo {
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-right: 50px;
    padding: 0;
    width: 35%;
    height: 100px;

    & > img {
      width: 273px;
      height: 100px;
    }
  }

  .widget-side__contents {
    display: block;
    width: 60%;
  }

  .content-container {
    width: 100%;
  }
}

@media (min-width: $screen-lg-min) {
  .content-container .container {
    position: relative;
  }

  .widget-side-container {
    position: fixed;
    display: block;
    width: 35%;
    max-width: 660px;
    height: 100vh;
    margin-top: 0;
    padding: 80px;
    float: left;
    background-image: url('../img/widget-bg.jpg');
  }

  .widget-side {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    width: 65%;
    float: right;
  }

  .widget-side__logo {
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
  }

  .widget-side__contents {
    width: 100%;
  }

  .content-container > .container {
    margin-left: 50px;
    width: calc(100% - 50px);
  }

  .container {
    max-width: 960px;
    width: 100%;
  }
}






.swiper-container.swiper-container-horizontal {
  padding-bottom: 40px;
}

  .swiper-pagination {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

    .swiper-pagination-bullet {
      position: relative;
      width: 10px;
      height: 10px;
      background: $color-main;
      opacity: 1;
    }

      .swiper-pagination-bullet:before {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        z-index: -1;
        border-radius: 50%;
        background: transparent;
        transition: background .3s ease;
      }

      .swiper-pagination-bullet-active:before {
        background: $color-white;
      }


.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 70px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 490px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #b3b3b3;
}
.ol-popup-closer:after {
  content: "✖";
}
.ol-popup-closer:hover {
  text-decoration: none;
  color: #b3b3b3;
}










.section-header {
  display: flex;
  align-items: start;
  justify-content: space-between;

  & .btn {
    margin-top: 15px;
    margin-left: 20px;
    white-space: nowrap;
  }
}

@media (max-width: $screen-md-min) {
  .section-header {
    flex-wrap: wrap;

    & .btn {
      margin-top: 0;
      margin-left: 0;
    }
  }
}




.footer__feedback {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  justify-content: center;

  & > .btn {

  }
}

.footer__feedback:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background: #b3b3b3;
}






.form-control {
  height: 54px;
  padding: 6px 25px;
  background: #fff;
  border-color: #c1c1c2;
  border-width: 2px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #34dfb1;
}

input.form-control,
select.form-control {
  border-radius: 27px;
}

textarea.form-control {
  padding: 20px 25px;
}



.i {
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

.i-user {
  width: 12px;
  height: 15px;
  background-image: url('/img/icons/user.svg');
}

.i-dislike {
  width: 18px;
  height: 15px;
  margin-left: 10px;
  background-image: url('/img/icons/dislike.svg');
}

.i-like {
  width: 18px;
  height: 15px;
  margin-left: 10px;
  background-image: url('/img/icons/like.svg');
}

.i-comment {
  width: 18px;
  height: 15px;
  background-image: url('/img/icons/comment.svg');
}

.i-arrow {
  width: 39px;
  height: 33px;
  margin-left: 10px;
  background-image: url('/img/icons/arrow.svg');
}

.i-external {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  background-image: url('/img/icons/external_link.svg');
}