.pagination
    li
        a(href='#')
            span <
    li
        a(href='#') 1
    li.active
        a(href='#') 2
    li
        a(href='#') 3
    li
        a(href='#') 15
    li
        a(href='#') >