mixin button(text, type, link)
    if (link)
        a(class=['btn'] href=(link) class=(type) ? 'btn-' + type : 'btn-default')= text
    else
        button(class=['btn'] class=(type) ? 'btn-' + type : 'btn-default' type='button')= text