mixin _comment()
    .comment
        .comment__header Алексей Нюхач
        .comment__body
            p Хочу сказать большое спасибо автору видео. сколько я ни пыталась вникнуть в теорию цвета, материала всегда было много для усвоения за один раз. тут в одном не таком уж длинном видеоуроке собрано все, что я когда-либо успела прочесть на эту тему + наглядные примеры + некоторые хитрости и тонкости, о которых я не имела ни малейшего представления. Еще раз выражаю свою благодарность и надеюсь на дальнейшие уроки.
        .comment__footer
            .meta__group
                .meta
                    .meta__date 28 февраля 2017
                .meta
                    .meta__data.text-right
                        .i.i-like
                        | 247
                        .i.i-dislike
                        | 247