@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir/medium/avenirnextcyr-medium.eot');
  src:
          url('../fonts/avenir/medium/avenirnextcyr-medium.woff2') format('woff2'),
          url('../fonts/avenir/medium/avenirnextcyr-medium.woff') format('woff'),
          url('../fonts/avenir/medium/avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/avenir/medium/avenirnextcyr-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir/italic/avenirnextcyr-italic.eot');
  src:
          url('../fonts/avenir/italic/avenirnextcyr-italic.woff2') format('woff2'),
          url('../fonts/avenir/italic/avenirnextcyr-italic.woff') format('woff'),
          url('../fonts/avenir/italic/avenirnextcyr-italic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/avenir/italic/avenirnextcyr-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir/regular/avenirnextcyr-regular.eot');
  src:
          url('../fonts/avenir/regular/avenirnextcyr-regular.woff2') format('woff2'),
          url('../fonts/avenir/regular/avenirnextcyr-regular.woff') format('woff'),
          url('../fonts/avenir/regular/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/avenir/regular/avenirnextcyr-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir/bold/avenirnextcyr-bold.eot');
  src:
          url('../fonts/avenir/bold/avenirnextcyr-bold.woff2') format('woff2'),
          url('../fonts/avenir/bold/avenirnextcyr-bold.woff') format('woff'),
          url('../fonts/avenir/bold/avenirnextcyr-bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/avenir/bold/avenirnextcyr-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}