@font-face {
  font-family: 'cera_pro';
  src: url('../fonts/cera_pro/bold/cera_pro_bold.eot');
  src: url('../fonts/cera_pro/bold/cera_pro_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro/bold/cera_pro_bold.woff2') format('woff2'),
  url('../fonts/cera_pro/bold/cera_pro_bold.woff') format('woff'),
  url('../fonts/cera_pro/bold/cera_pro_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}