@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria/regular/geometria_regular.eot');
  src: url('../fonts/geometria/regular/geometria_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/regular/geometria_regular.woff2') format('woff2'),
  url('../fonts/geometria/regular/geometria_regular.woff') format('woff'),
  url('../fonts/geometria/regular/geometria_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria/bold/geometria_bold.eot');
  src: url('../fonts/geometria/bold/geometria_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/bold/geometria_bold.woff2') format('woff2'),
  url('../fonts/geometria/bold/geometria_bold.woff') format('woff'),
  url('../fonts/geometria/bold/geometria_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}