@font-face {
  font-family: 'roboto_condensed';
  src: url('../fonts/roboto_condensed/bold/roboto_condensed_bold.eot');
  src: url('../fonts/roboto_condensed/bold/roboto_condensed_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto_condensed/bold/roboto_condensed_bold.woff2') format('woff2'),
  url('../fonts/roboto_condensed/bold/roboto_condensed_bold.woff') format('woff'),
  url('../fonts/roboto_condensed/bold/roboto_condensed_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}